In [1]:
import numpy as np
import pandas as pd

In [2]:
# ボーリングのスコアをチームごとに生成
bowling_score = {
    'A': [38, 73, 86, 90, 111, 124],
    'B': [71, 84, 85, 89, 90, 103],
    'C': [59, 70, 77, 88, 95, 229]
}
# DataFrameの型に変更
bowling_score_df = pd.DataFrame(bowling_score)
bowling_score_df

     A    B    C
0   38   71   59
1   73   84   70
2   86   85   77
3   90   89   88
4  111   90   95
5  124  103  229

In [3]:
# 要約統計量を表示
bowling_score_df.describe().round(1)

           A      B      C
count    6.0    6.0    6.0
mean    87.0   87.0  103.0
std     30.2   10.4   63.0
min     38.0   71.0   59.0
25%     76.2   84.2   71.8
50%     88.0   87.0   82.5
75%    105.8   89.8   93.2
max    124.0  103.0  229.0

In [4]:
# 中央値を表示
bowling_score_df.median()

A    88.0
B    87.0
C    82.5
dtype: float64

In [5]:
# 標本標準偏差を表示
bowling_score_df.std(ddof=False).round(1)

A    27.5
B     9.5
C    57.5
dtype: float64

In [6]:
# 不偏標準偏差を表示
# pandasのデフォルトは不偏標準偏差
bowling_score_df.std().round(1)

A    30.2
B    10.4
C    63.0
dtype: float64

In [7]:
# 100m走の結果を走者ごとに生成
running_100m = {
   '100m走(秒)': [16.3, 22.4, 18.5, 18.7, 20.1]
}
# 100m走者の名前(index)を生成
running_100m_index = ['Aさん', 'Bさん', 'Cさん', 'Dさん', 'Eさん']

# DataFrameの型に変換
running_100m_df = pd.DataFrame(data=running_100m, index=running_100m_index)
running_100m_df

     100m走(秒)
Aさん      16.3
Bさん      22.4
Cさん      18.5
Dさん      18.7
Eさん      20.1

In [8]:
# 平均を表示
running_100m_df.mean()

100m走(秒)    19.2
dtype: float64

In [9]:
# 中央値を表示
running_100m_df.median()

100m走(秒)    18.7
dtype: float64

In [10]:
# 標準偏差を表示
running_100m_df.std(ddof=False).round(2)

100m走(秒)    2.01
dtype: float64

In [11]:
# カテゴリーデータから単純集計表を生成
# カテゴリーデータの生成
next_administration = {
    '〇〇党に比べて△△党は・・・': [
        '期待できない',
        '期待できない',
        '期待できない',
        'どちらとも言えない',
        '期待できる',
        '期待できない',
        '期待できる',
        'どちらとも言えない',
        '期待できない',
        '期待できない'
    ]
}
# 回答者名(index)を生成
respondent = []
for i in range(1, 11):
    respondent.append('回答者' + str(i))

# DataFrameの型へ変換する
next_administration_df = pd.DataFrame(data=next_administration, index=respondent)
next_administration_df

      〇〇党に比べて△△党は・・・
回答者1          期待できない
回答者2          期待できない
回答者3          期待できない
回答者4       どちらとも言えない
回答者5           期待できる
回答者6          期待できない
回答者7           期待できる
回答者8       どちらとも言えない
回答者9          期待できない
回答者10         期待できない

In [12]:
# 度数の表示
next_administration_df.groupby('〇〇党に比べて△△党は・・・').size()

〇〇党に比べて△△党は・・・
どちらとも言えない    2
期待できない       6
期待できる        2
dtype: int64

In [13]:
# 日本史、生物の各生徒の点数を生成
japan_history_and_creat_count = {
    '日本史': [
        73,
        61,
        14,
        41,
        49,
        87,
        69,
        65,
        36,
        7,
        53,
        100,
        57,
        45,
        56,
        34,
        
    ],
    '生物': []
}