In [1]:
import numpy as np
import pandas as pd

In [2]:
# ボーリングのスコアをチームごとに生成
bowling_score = {
    'A': [38, 73, 86, 90, 111, 124],
    'B': [71, 84, 85, 89, 90, 103],
    'C': [59, 70, 77, 88, 95, 229]
}
# DataFrameの型に変更
bowling_score_df = pd.DataFrame(bowling_score)
bowling_score_df

     A    B    C
0   38   71   59
1   73   84   70
2   86   85   77
3   90   89   88
4  111   90   95
5  124  103  229

In [3]:
# 要約統計量を表示
bowling_score_df.describe().round(1)

           A      B      C
count    6.0    6.0    6.0
mean    87.0   87.0  103.0
std     30.2   10.4   63.0
min     38.0   71.0   59.0
25%     76.2   84.2   71.8
50%     88.0   87.0   82.5
75%    105.8   89.8   93.2
max    124.0  103.0  229.0

In [4]:
# 中央値を表示
bowling_score_df.median()

A    88.0
B    87.0
C    82.5
dtype: float64

In [5]:
# 標本標準偏差を表示
bowling_score_df.std(ddof=False).round(1)

A    27.5
B     9.5
C    57.5
dtype: float64

In [6]:
# 不偏標準偏差を表示
# pandasのデフォルトは不偏標準偏差
bowling_score_df.std().round(1)

A    30.2
B    10.4
C    63.0
dtype: float64

In [7]:
# 100m走の結果を走者ごとに生成
running_100m = {
   '100m走(秒)': [16.3, 22.4, 18.5, 18.7, 20.1]
}
# 100m走者の名前(index)を生成
running_100m_index = ['Aさん', 'Bさん', 'Cさん', 'Dさん', 'Eさん']

# DataFrameの型に変換
running_100m_df = pd.DataFrame(data=running_100m, index=running_100m_index)
running_100m_df

     100m走(秒)
Aさん      16.3
Bさん      22.4
Cさん      18.5
Dさん      18.7
Eさん      20.1

In [8]:
# 平均を表示
running_100m_df.mean()

100m走(秒)    19.2
dtype: float64

In [9]:
# 中央値を表示
running_100m_df.median()

100m走(秒)    18.7
dtype: float64

In [10]:
# 標準偏差を表示
running_100m_df.std(ddof=False).round(2)

100m走(秒)    2.01
dtype: float64

In [11]:
# カテゴリーデータから単純集計表を生成
# カテゴリーデータの生成
next_administration = {
    '〇〇党に比べて△△党は・・・': [
        '期待できない',
        '期待できない',
        '期待できない',
        'どちらとも言えない',
        '期待できる',
        '期待できない',
        '期待できる',
        'どちらとも言えない',
        '期待できない',
        '期待できない'
    ]
}
# 回答者名(index)を生成
respondent = []
for i in range(1, 11):
    respondent.append('回答者' + str(i))

# DataFrameの型へ変換する
next_administration_df = pd.DataFrame(data=next_administration, index=respondent)
next_administration_df

      〇〇党に比べて△△党は・・・
回答者1          期待できない
回答者2          期待できない
回答者3          期待できない
回答者4       どちらとも言えない
回答者5           期待できる
回答者6          期待できない
回答者7           期待できる
回答者8       どちらとも言えない
回答者9          期待できない
回答者10         期待できない

In [12]:
# 度数の表示
next_administration_df.groupby('〇〇党に比べて△△党は・・・').size()

〇〇党に比べて△△党は・・・
どちらとも言えない    2
期待できない       6
期待できる        2
dtype: int64

In [13]:
# 日本史、生物の各生徒の点数を生成
japan_history_and_creat_test_count = {
    '日本史': [
        73,
        61,
        14,
        41,
        49,
        87,
        69,
        65,
        36,
        7,
        53,
        100,
        57,
        45,
        56,
        34,
        37,
        70
    ],
    '生物': [
        59,
        73,
        47,
        38,
        63,
        56,
        15,
        53,
        80,
        50,
        41,
        62,
        44,
        26,
        91,
        35,
        53,
        68
    ]
}
# 上記の点数に伴って生徒名(index)を生成
student = ['タケル', 'サトシ', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P']

# DataFrameの型へ変換
japan_history_and_creat_test_count_df = pd.DataFrame(data=japan_history_and_creat_test_count, index=student)
japan_history_and_creat_test_count_df

     日本史  生物
タケル   73  59
サトシ   61  73
A     14  47
B     41  38
C     49  63
D     87  56
E     69  15
F     65  53
G     36  80
H      7  50
I     53  41
J    100  62
K     57  44
L     45  26
M     56  91
N     34  35
O     37  53
P     70  68

In [14]:
# 標本標準偏差を表示
japan_history_and_creat_test_count_df.std(ddof=False).round(1)

日本史    22.7
生物     18.3
dtype: float64

In [15]:
# 生徒ごとに基準値を算出
student_standardization = ((japan_history_and_creat_test_count_df - japan_history_and_creat_test_count_df.mean()) / japan_history_and_creat_test_count_df.std(ddof=False))
student_standardization.round(2)

      日本史    生物
タケル  0.88  0.33
サトシ  0.35  1.09
A   -1.71 -0.33
B   -0.53 -0.82
C   -0.18  0.55
D    1.49  0.16
E    0.70 -2.08
F    0.53  0.00
G   -0.75  1.48
H   -2.02 -0.16
I    0.00 -0.66
J    2.07  0.49
K    0.18 -0.49
L   -0.35 -1.48
M    0.13  2.08
N   -0.84 -0.98
O   -0.70  0.00
P    0.75  0.82

In [16]:
# 生徒ごとに偏差値を表示
student_deviation = student_standardization * 10 + 50
student_deviation.round(1)

      日本史    生物
タケル  58.8  53.3
サトシ  53.5  60.9
A    32.9  46.7
B    44.7  41.8
C    48.2  55.5
D    64.9  51.6
E    57.0  29.2
F    55.3  50.0
G    42.5  64.8
H    29.8  48.4
I    50.0  43.4
J    70.7  54.9
K    51.8  45.1
L    46.5  35.2
M    51.3  70.8
N    41.6  40.2
O    43.0  50.0
P    57.5  58.2

In [17]:
# 100m走のデータを生成
running_100m = {
    '100m走(秒)': [
        16.3,
        22.4,
        18.5,
        18.7,
        20.1
    ]
}
# 走者名(index)を生成
runners_name = ['Aさん', 'Bさん', 'Cさん', 'Dさん', 'Eさん']

# DataFrameの型に変換
running_100m_df = pd.DataFrame(data=running_100m, index=runners_name)
running_100m_df

     100m走(秒)
Aさん      16.3
Bさん      22.4
Cさん      18.5
Dさん      18.7
Eさん      20.1

In [18]:
# 基準値の算出
runners_standardization = ((running_100m_df - running_100m_df.mean()) / running_100m_df.std(ddof=False)).round(2)
runners_standardization

     100m走(秒)
Aさん     -1.44
Bさん      1.59
Cさん     -0.35
Dさん     -0.25
Eさん      0.45

In [19]:
# 基準値の平均
runners_standardization.mean().round(1)

100m走(秒)    0.0
dtype: float64

In [20]:
# 基準値の標準偏差
runners_standardization.std().round(0)

100m走(秒)    1.0
dtype: float64