In [1]:
import numpy as np
import pandas as pd

In [2]:
# ボーリングのスコアをチームごとに生成
bowling_score = {
    'A': [38, 73, 86, 90, 111, 124],
    'B': [71, 84, 85, 89, 90, 103],
    'C': [59, 70, 77, 88, 95, 229]
}
# DataFrameの型に変更
bowling_score_df = pd.DataFrame(bowling_score)
bowling_score_df

     A    B    C
0   38   71   59
1   73   84   70
2   86   85   77
3   90   89   88
4  111   90   95
5  124  103  229

In [3]:
# 要約統計量を表示
bowling_score_df.describe().round(1)

           A      B      C
count    6.0    6.0    6.0
mean    87.0   87.0  103.0
std     30.2   10.4   63.0
min     38.0   71.0   59.0
25%     76.2   84.2   71.8
50%     88.0   87.0   82.5
75%    105.8   89.8   93.2
max    124.0  103.0  229.0

In [4]:
# 中央値を表示
bowling_score_df.median()

A    88.0
B    87.0
C    82.5
dtype: float64

In [5]:
# 標準偏差を表示
bowling_score_df.std()

A    30.172835
B    10.373042
C    63.033325
dtype: float64