In [1]:
import os

In [2]:
base_url = 'https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/'
anime_csv = os.path.join(base_url, 'anime.csv')

In [3]:
print(anime_csv)

https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/anime.csv

In [4]:
import pandas as pd

In [5]:
pd.read_csv(anime_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [6]:
anime_master_csv = os.path.join(base_url, 'anime_master.csv')
pd.read_csv(anime_master_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [7]:
anime_split_genre_csv = os.path.join(base_url, 'anime_split_genre.csv')
pd.read_csv(anime_split_genre_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,20707,"""0""",Music,Music,1,5.06,1170
1,25627,"""Aesop"" no Ohanashi yori: Ushi to Kaeru, Yokub...",Kids,Movie,1,5.00,113
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
3,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
4,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351

In [8]:
anime_genre_top10_csv = os.path.join(base_url, 'anime_genre_top10.csv')
pd.read_csv(anime_genre_top10_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
1,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351
3,8481,"""Bungaku Shoujo"" Memoire",School,OVA,3,7.54,18013
4,8481,"""Bungaku Shoujo"" Memoire",Drama,OVA,3,7.54,18013

In [9]:
anime_genre_top10_pivoted_csv = os.path.join(base_url, 'anime_genre_top10_pivoted.csv')
pd.read_csv(anime_genre_top10_pivoted_csv).head()

,genre,Movie,Music,ONA,OVA,Special,TV
0,Comedy,7293127.0,20860.0,1477266.0,5614758.0,6659293.0,65420862.0
1,Action,10224960.0,77054.0,524907.0,5793680.0,3412689.0,63364032.0
2,Drama,9034099.0,100734.0,188427.0,3043374.0,1915578.0,41011557.0
3,Romance,5245386.0,42811.0,411331.0,3143167.0,2015820.0,40703388.0
4,Supernatural,5452779.0,9189.0,192989.0,2696715.0,2336723.0,38956520.0

In [10]:
anime_stock_price_csv = os.path.join(base_url, 'anime_stock_price.csv')
pd.read_csv(anime_stock_price_csv, index_col=0, parse_dates=['Date']).head()

            TOEI ANIMATION  IG Port
Date
2015-01-01         3356.86  1201.51
2015-01-02         3356.86  1201.51
2015-01-05         3396.12  1218.44
2015-01-06         3361.77  1201.51
2015-01-07         3297.97  1202.51

In [11]:
anime_stock_returns_csv = os.path.join(base_url, 'anime_stock_returns.csv')
pd.read_csv(anime_stock_returns_csv, index_col=0, parse_dates=['Date']).head()

            TOEI ANIMATION   IG Port
Date
2015-01-01        1.000000  1.000000
2015-01-02        1.000000  1.000000
2015-01-05        1.011695  1.014082
2015-01-06        1.001463  1.000000
2015-01-07        0.982457  1.000824

In [12]:
t4816_csv = os.path.join(base_url, '4816.csv')
pd.read_csv(t4816_csv, index_col=0, parse_dates=['Date']).head()

              Open    High     Low   Close   Volume
Date
2010-01-04  1600.0  1600.0  1580.0  1597.0   5600.0
2010-01-05  1597.0  1605.0  1590.0  1600.0  14800.0
2010-01-06  1600.0  1602.0  1579.0  1601.0   8300.0
2010-01-07  1600.0  1600.0  1590.0  1595.0   3700.0
2010-01-08  1599.0  1601.0  1595.0  1600.0  32300.0

In [13]:
ser = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

In [14]:
ser.loc['b']

2

In [15]:
ser['b']

2

In [16]:
ser.loc['b':'c']

b    2
c    3
dtype: int64

In [17]:
ser.loc[['a', 'c']]

a    1
c    3
dtype: int64

In [18]:
ser.iloc[1]

2

In [19]:
ser.iloc[1:3]

b    2
c    3
dtype: int64

In [20]:
ser.loc[[True, False, True]]

a    1
c    3
dtype: int64

In [21]:
ser != 2

a     True
b    False
c     True
dtype: bool

In [22]:
ser.loc[ser != 2]

a    1
c    3
dtype: int64

In [23]:
df = pd.DataFrame(
    [[1, 10, 100], [2, 20, 200], [3, 30, 300]],
    index=['r1', 'r2', 'r3'],
    columns=['c1', 'c2', 'c3']
)
df

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

In [24]:
df.loc['r2', 'c2']

20

In [25]:
df.loc['r2', :]

c1      2
c2     20
c3    200
Name: r2, dtype: int64

In [26]:
df.loc[:, 'c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [27]:
# 行ラベルをリストで指定、列ラベルをスライスで指定
df.loc[['r1', 'r3'], 'c2':'c3']

    c2   c3
r1  10  100
r3  30  300

In [28]:
df.iloc[1:3, [0, 2]]

    c1   c3
r2   2  200
r3   3  300

In [29]:
df['c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [30]:
df > 10

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [31]:
# c2列の値が10より大きいデータ
df.loc[df['c2'] > 10]

    c1  c2   c3
r2   2  20  200
r3   3  30  300

In [32]:
# c1列が1より大きくかつ、c3列が300より小さいデータ
df.loc[(df['c1'] > 1) & (df['c3'] < 300)]

    c1  c2   c3
r2   2  20  200

In [33]:
df = pd.read_csv(anime_csv)
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [34]:
# インデックスにする列を番号で指定
df = pd.read_csv(anime_csv, index_col=0)
df.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [35]:
# インデックスにする列を列名で指定
df = pd.read_csv(anime_csv, index_col='anime_id')
df.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [36]:
df = pd.read_csv(anime_csv, dtype={'members': float})
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665.0
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262.0
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572.0
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266.0

In [37]:
df = pd.read_csv(anime_stock_price_csv, parse_dates=['Date'])
df.dtypes

Date              datetime64[ns]
TOEI ANIMATION           float64
IG Port                  float64
dtype: object

In [38]:
anime_tsv = os.path.join(base_url, 'anime.tsv')

In [39]:
df = pd.read_csv(anime_tsv, sep='\t')
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [40]:
anime_xlsx = os.path.join(base_url, 'anime.xlsx')
df = pd.read_excel(anime_xlsx)
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
2,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
3,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254
4,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193

In [41]:
df = pd.read_excel(anime_xlsx, sheetname='Movie')

In [42]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
2,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
3,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254
4,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193

In [43]:
from urllib.request import urlopen
import sqlite3

In [44]:
anime_db = os.path.join(base_url, 'anime.db')
res = urlopen(anime_db)
with open('anime_db', 'wb') as f:
    f.write(res.read())
    with sqlite3.connect(f.name) as conn:
        df = pd.read_sql('SELECT * FROM anime', conn)

In [45]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [ ]:
url = 'https://docs.python.org/3/py-modindex.html'
tables = pd.read_html(url, index_col=1)
tables[0].loc[:, 1:].dropna().head(10) # 1番目のDataFrameから空の列と欠損値を除外

                                                               2
1
__future__                          Future statement definitions
__main__       The environment where the top-level script is ...
_dummy_thread        Drop-in replacement for the _thread module.
_thread                                 Low-level threading API.
abc                 Abstract base classes according to PEP 3119.
aifc           Read and write audio files in AIFF or AIFC for...
argparse       Command-line option and argument parsing library.
array          Space efficient arrays of uniformly typed nume...
ast               Abstract Syntax Tree classes and manipulation.
asynchat       Support for asynchronous command/response prot...

In [ ]:
df = pd.read_csv(anime_csv)
df.loc[df['episodes'] == 'Unknown'].head()

In [ ]:
df.where(df['rating'] < 9.2).head()

In [ ]:
import numpy as np
df.loc[74, 'episodes'] = np.nan
df.loc[74, 'episodes']

In [ ]:
df.loc[df['episodes'] == 'Unknown', 'episodes'] = np.nan

In [ ]:
df.loc[df['episodes'].isnull()].head()

In [ ]:
df.dropna().loc[70:].head()

In [ ]:
df.dropna(inplace=True)
df.loc[70:].head()

In [ ]:
df['anime_id'].dtype

In [ ]:
df.dtypes

In [ ]:
pd.options.display.max_rows = 10 # pandasで表示する桁数を設定
df['episodes'].astype(np.int64)

In [ ]:
df.astype({'episodes': np.int64, 'rating': np.float64})

In [ ]:
df.dtypes

In [ ]:
df['episodes'] = df['episodes'].astype(np.int64)
df.dtypes

In [ ]:
df.sort_values('rating', ascending=False).head()

In [ ]:
import html

print(df['name'].head())
print(df['name'].map(html.unescape).head())

In [ ]:
df.apply(len)

In [ ]:
df.apply(len, axis=1).head()

In [ ]:
df.apply(type)

In [ ]:
df.apply(lambda x: len(x['name']) + len(x['genre']), axis=1).head()

In [ ]:
df[['name', 'genre']].applymap(len).head()

In [ ]:
df = pd.read_csv(anime_master_csv)
df.mean()

In [ ]:
df['members'].sum()

In [ ]:
df.describe().round(1)

In [ ]:
df.describe(percentiles=[0.1, 0.9]).round(1)

In [ ]:
df[['genre', 'type']].describe()

In [ ]:
df = pd.read_csv(anime_master_csv)

In [ ]:
grouped = df.groupby('type')
type(grouped)

In [ ]:
grouped.mean().round(1)

In [ ]:
grouped.describe().round(1).head(16)

In [ ]:
df.groupby(['type', 'episodes']).mean().round(1).head(20)

In [ ]:
df.pivot_table(index='type', aggfunc=np.mean)

In [ ]:
df.pivot_table(index=['type', 'episodes'], aggfunc=np.mean)

In [ ]:
# genres列のカンマ区切りのデータを分割
genres = df['genre'].map(lambda x: x.split(','))
# numpy.arrayにして2次元から1次元のデータに変換
ser = pd.Series(np.hstack(genres.values))
# ユニークにする
unique_genres = ser.str.strip().unique()
unique_genres.sort()
unique_genres

In [ ]:
# 指定したジャンル名をDataFrameから抽出
def filter_df_by_genre(df, genre):
    genre_df = df.loc[df['genre'].map(lambda x: genre in x)].copy()
    genre_df['genre'] = genre
    return genre_df

# 上記の関数を全てのジャンルに対して実行
genre_df_list = [filter_df_by_genre(df, genre) for genre in unique_genres]
# 上記dataを結合
df2 = pd.concat(genre_df_list)
# name列でソート
df2.sort_values('name', inplace=True)

# メンバ数が多いジャンルトップ10
top10 = df2.groupby('genre')['members'].sum().sort_values(ascending=False).index[:10]
# top10からデータを抽出
df2 = df2[df2['genre'].isin(top10)]

In [ ]:
df2.loc[df2['name']  == 'Kimi no Na wa.']

In [ ]:
df2.pivot_table(index='genre', columns='type', values=['members'], aggfunc=np.sum).head()

In [ ]:
df = pd.read_csv(anime_stock_price_csv, index_col=0, parse_dates=['Date'])
df.head()

In [ ]:
pct_change = df['TOEI ANIMATION'].pct_change()
pct_change

In [ ]:
cumulative_returns = (pct_change + 1).cumprod()
cumulative_returns[0] = 1
cumulative_returns

In [ ]:
df['TOEI ANIMATION'].rolling(5).mean()

In [ ]:
def historical_volatility(x):
    logreturns = np.diff(np.log(x)) # 対数収益率
    return np.sqrt(365 * logreturns.var())

df['TOEI ANIMATION'].rolling(20).apply(historical_volatility)

In [ ]:
ix = pd.date_range('2017-01', '2017-02', freq='1H')
ix

In [ ]:
time_series = pd.Series(np.arange(len(ix)), index=ix)
time_series

In [ ]:
from datetime import datetime

df.loc[datetime(2016, 1, 4)]

In [ ]:
df.loc['2016-01-04']

In [ ]:
df.loc['Jan-04-2016']

In [ ]:
print(df.loc['2015'].head())

In [ ]:
print(df.loc['2016-05'].head())

In [ ]:
print(df.loc['2015-12':'2016-01'])

In [ ]:
from datetime import time

time_series.loc[time(9, 0)]

In [ ]:
time_series.between_time(time(9, 0), time(12, 0))

In [ ]:
df['TOEI ANIMATION'].resample('M').mean().head()

In [ ]:
df['TOEI ANIMATION'].resample('W').ohlc().head()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
ax = pd.Series([1, 2, 3]).plot()

In [ ]:
ax.set_title('Line Chart')
plt.show()

In [ ]:
plt.style.use('ggplot')

In [ ]:
ser = pd.Series([1, 2, 3])

In [ ]:
ax = ser.plot()

In [ ]:
ax.set_title('Line Chart')
plt.show()

In [ ]:
df = pd.DataFrame({'a': [1, 2, 3], 'b': [3, 2, 1]})

In [ ]:
ax = df.plot()

In [ ]:
ax.set_title('LIne Chart')
plt.show()

In [ ]:
anime_stock_returns_df = pd.read_csv(anime_stock_returns_csv, index_col=0)
ax = anime_stock_returns_df.plot()
ax.set_title('stock returns')
plt.show()

In [ ]:
anime_stock_price_df = pd.read_csv(anime_stock_price_csv, index_col=0)

In [ ]:
ax = anime_stock_price_df.plot(secondary_y=['IG Port'])

In [ ]:
ax.set_title('secondary_y')
ax.set_ylabel('TOEI ANIMATION')
ax.right_ax.set_ylabel('IG Port')
plt.show()

In [ ]:
ax1, ax2 = anime_stock_price_df.plot(subplots=True)

In [ ]:
ax1.set_title('subplot1')
ax2.set_title('subplot2')
plt.show()

In [ ]:
anime_master_df = pd.read_csv(anime_master_csv)

In [ ]:
ax = anime_master_df.plot.scatter(x='members', y='rating')
ax.set_title('Scatter')
plt.show()

In [ ]:
anime_genre_top10_pivoted_df = pd.read_csv(anime_genre_top10_pivoted_csv, index_col=0)

In [ ]:
ax = anime_genre_top10_pivoted_df.plot.bar()

In [ ]:
plt.show()

In [ ]:
ax = anime_genre_top10_pivoted_df.plot.bar(logy=True)
ax.legend(bbox_to_anchor=(1, 1))
plt.show()

In [ ]:
ax = anime_genre_top10_pivoted_df.plot.bar(stacked=True)
ax.set_title('stacked')
plt.show()

In [ ]:
ax = anime_master_df['rating'].hist(bins=100)
ax.set_title('Histogram')
plt.show()

In [ ]:
ax = anime_genre_top10_pivoted_df.plot.box()
ax.set_title('Box Plot')
plt.show()

In [ ]:
anime_genre_top10_df = pd.read_csv(anime_genre_top10_csv)

In [ ]:
ax = anime_genre_top10_df.groupby('genre').sum()['members'].plot.pie(figsize=(5, 5))
ax.set_title('Pie Chart')
ax.set_ylabel('') # Y軸ラベルを削除
plt.show()